Repository hmcts/em-hrs-api, pull requests merged in 2021-05, with the labels that each got.

#176 Reverted SpringBoot upgrade changes
  build.gradle
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-176

#184 Changed report names & removed checkstyle aat report
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-hrs-api-pr-184

#185 Added the secrets back
  Jenkinsfile_CNP
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-185

#166 Em 3774 use sas token for cvp source when copying
  build.gradle
  charts/em-hrs-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/CvpConnectionResolver.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/CvpConnectionResolverTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-166

#187 added experimental upload mechanisms
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-187

#200 Em 3784 prototype sync poller method
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/CvpConnectionResolverTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-200

#201 set caseRef into ccd rather recordingRef
  src/aat/resources/hrs_ccd_case_definition.xlsx
  src/aat/resources/hrs_ccd_case_definition_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseHearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-201

#202 made hrs container name injectable from vault
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-202

#203 Feature/em 3404 revert to recording reference
  src/aat/resources/hrs_ccd_case_definition.xlsx
  src/aat/resources/hrs_ccd_case_definition_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseHearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseRecordingFile.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-203

#204 delete hearing recordings where ccdid is null, and date is older than 1 day
  docker/dependencies/pull-latest-dependencies.sh
  docker/dependencies/start-local-environment.sh
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImplTests.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-204

#206 Updated the logic for Auditing for Sharing a file
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingSegment.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingSharee.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingShareeAuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryService.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-206

#207 Add audit for downloading file
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AuditorAwareImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/AuditActions.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingSegmentAuditEntryRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityUtilService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityUtilServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-207

#208 added more logging and exception catchers
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueue.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-208

#209 Add unit tests
  build.gradle
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-209

#216 Fix Sonar Issues
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-216

#217 add xui url to download link for email
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/aat/resources/hrs_ccd_case_definition.xlsx
  src/aat/resources/hrs_ccd_case_definition_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseRecordingFile.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-217

#218 remove duplicate bearer prefix
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-218

#219 apply unique constraint for folder and recording reg
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/resources/db/db.changelog-master.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-219

#220 Em 3805 restrict searching for exising records by folder name
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-220

#221 Em 3808 ccd upload job to execute after successful blob copy instead of in parallel
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/BlobCopyException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/CcdUploadException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/DatabaseStorageException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-221

#222 add retry mechanism to ccd uploader
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-222

#226 Feature/em 3406 add download response headers
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/resources/hrs_ccd_case_definition.xlsx
  src/aat/resources/hrs_ccd_case_definition_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-226

#233 ensure component / name are populated in order to create the read onl…
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-hrs-api-pr-233

#235 fix download test
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-235

#241 Bug/em 3816 17 fix date and size
  config/owasp/suppressions.xml
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseHearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-241
