Repository hmcts/em-hrs-api, pull requests merged in 2021-04, with the labels that each got.

#111 Origin/em 3690
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/SetUtils.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/DemoUnitTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooperTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/SetUtilsTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-111

#115 fix functional tests
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-115

#116 Em 3711 run end to end integration test ready for smoke test
  Makefile
  README.md
  build.gradle
  docker-compose.yml
  docker/dependencies/start-local-environment.sh
  docker/dependencies/stop-local-environment.sh
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-116

#113 EM-3401 WIP orchestration of ingestion logic
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/SimpleSnooper.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/dto/HearingRecordingDto.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/JobOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingSegmentService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingSegmentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseUpdateService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueue.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/SetUtils.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/Snooper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/Tuple2.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestApplicationConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/JobOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingSegmentServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingSegmentServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingShareeServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityUtilServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooperTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueueTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/SetUtilsTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-113

#114 Added the Implementation of the Mutations Tests Initial Version
  Jenkinsfile_nightly
  audit.json
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-114

#120 EM-3401 Add too many requests response
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-120

#122 Added the Configuration for the Smoke Tests....
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-hrs-api-pr-122

#127 EM-3401 Externalise queue and thread pool settings
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AsyncConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/JobOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueue.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestApplicationConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/JobOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueueTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-127

#130 Nojira save new folders to database
  Makefile
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/FolderRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepositoryIntegrationTest.java
  src/integrationTest/resources/data/create-folder.sql
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/Folder.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingSegment.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/DatabaseStorageException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-130

#137 EM-3582 Define response for exception scenarios
  src/aat/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingSceanrios.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepositoryIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/Folder.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingSharee.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/AppConfigurationException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/BadRequestException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/DatabaseStorageException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/EmailNotificationException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/FileStorageException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/HearingRecordingMetaDataUpdateException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/HearingRecordingNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/JsonDocumentProcessingException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/RepositoryCouldNotBeFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/ValidationErrorException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/CaseDetailsParser.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooper.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/CaseDetailsParserTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/SetUtilsTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-137

#142 fix notify client errors
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingSceanrios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-142

#144 Updated CVP attributes
  Jenkinsfile_CNP
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-144

#140 Added in logic to differentiate the SecurityConfig for endpoints
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingSceanrios.java
  src/aat/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/smoke/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/smoke/config/AuthTokenGeneratorConfiguration.java
  src/smokeTest/resources/application.yml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-140

#150 use latest image of case-data-store-api
  Jenkinsfile_CNP
  docker-compose-dependencies.yml
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/aat/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-150

#152 add test helpers
  Jenkinsfile_CNP
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/aat/resources/CCD_CVP_v.03.xlsx
  src/aat/resources/FM-0111-testfile200M_2020-01-01-11.11.11.123-UTC_0.mp4
  src/aat/resources/application.yml
  src/aat/resources/hrs_ccd_case_definition.xlsx
  src/aat/resources/hrs_ccd_case_definition_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AuditorAwareImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-152

#153 handle unique key constraint validations to reduce logging noise
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-153

#155 remove jwt and test case creation
  Jenkinsfile_CNP
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  docker-compose-dependencies.yml
  docker/dependencies/start-local-environment.sh
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-155

#158 Upgraded SpringBoot to 2.4.5
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-158

#159 Fix secrets issue for Staging pod
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-159

#160 Db libraries upgrade
  build.gradle
  config/pmd/ruleset.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-160

#161 Em 3774 apply managed identity to hrs api storage client
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-161
