Repository hmcts/em-hrs-api, pull requests merged in 2021-07, with the labels that each got.

#295 add storage inspection endpoint
  Makefile
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobstoreInspectorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorage.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-295

#297 add test to ensure malformed filenames are not copied
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-297

#299 check storage on start up
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/listener/CheckEndPointsApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-299

#300 tweak start up messaging
  src/main/java/uk/gov/hmcts/reform/em/hrs/listener/CheckEndPointsApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-300

#293 closing cases created by tests in front-end
  .gitignore
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-293

#302 Update security.sh
  security.sh
Labels: ns:em, prd:em, rel:em-hrs-api-pr-302

#305 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:em, prd:em, rel:em-hrs-api-pr-305

#304 Revert "Update security.sh"
  security.sh
Labels: ns:em, prd:em, rel:em-hrs-api-pr-304

#310 reduce hibernate logging to WARN level
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-310

#303 keep ingested files after running f-tests
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-303

#314 adjusting logic
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-314

#326 set dependencies for tomcat and smart json
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-326

#327 Em 3976 hrs obtain stats to forecast when migration will complete
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorage.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-327

#333 change stale window from 1 day to 1 hour
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-333

#334 Updated Chart Java version
  charts/em-hrs-api/Chart.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-334

#347 use timebased case ref generation
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/FolderScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-347
