Repository hmcts/em-hrs-api, pull requests merged in 2021-06, with the labels that each got.

#237 EM-3819-HRS-API-implement-http-chunking
  build.gradle
  charts/em-hrs-api/Chart.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/InvalidRangeRequestException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/HttpHeaderProcessor.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/debug/HttpHeadersLogging.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-237

#254 Updated em-test-helper version
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-254

#257 add extra logs when assessing permissions
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-257

#252 Em 3582 hrs create logging formater
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImplTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/auditlog/AuditLogFormatter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/AuditActions.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/AuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingAuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingSegmentAuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecordingShareeAuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/LogOnlyAuditEntry.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesAuditEntryRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobInfo.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImpl.java
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/hrs/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-252

#258 pass segment to evaluator to compare to shared one
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-258

#256 Generating contract test report and publishing to pact broker
  Jenkinsfile_CNP
  build.gradle
  pacts/hrs_api-Idam_api.json
  src/aat/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/CaseUpdateScenarios.java
  src/aat/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingSceanrios.java
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiPactConsumerTest.java
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/AuthTokenGeneratorConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/CcdAuthTokenGeneratorConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/functionalTest/resources/FM-0111-testfile200M_2020-01-01-11.11.11.123-UTC_0.mp4
  src/functionalTest/resources/application.yml
  src/functionalTest/resources/data/populate_db.sql
  src/functionalTest/resources/hrs_ccd_case_definition.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_AAT.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/CvpConnectionResolver.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/HttpHeaderProcessor.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/HttpHeaderProcessorTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-256

#271 Update .gitignore
  pacts/.keep
  pacts/hrs_api-Idam_api.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-271

#270 restore functional tests after branch deleted
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiPactConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/HrsAzureClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
  src/functionalTest/resources/application.yml
  src/functionalTest/resources/data/test_data.mp4
  src/functionalTest/resources/hrs_ccd_case_definition_PROD.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-270

#272 changing the 30 second break to 60 seconds
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-272

#273 Working on functional tests flakiness
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-273

#274 giving test more time to upload blob
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-274

#280 functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-280

#283 updating while loop logic
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-283

#284 adding logging for functional tests
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-284

#285 adding logging for post
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-285

#286 add request payload logging and disable sql logging by default
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/RequestLoggingFilterConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-286

#287 using emails in gov notify guest list
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-287

#288 adding a functional test for sharing with caseworker-hrs
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareHearingRecordingScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-288

#294 reordering security.sh
  security.sh
Labels: ns:em, prd:em, rel:em-hrs-api-pr-294

#296 adding cookie to ignore list
  audit.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-296
