Repository hmcts/em-hrs-api, pull requests merged in 2021-11, with the labels that each got.

#419 Resolve "CVE-2021-22096"
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-419

#402 guard against users being deleted by seperate PR branches and fix email addresses
  README.md
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-402

#375 Em 4021 add rate limiter for ccd uploads post master push fixes
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/FolderScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/SleepHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/IngestionQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/QueueConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/FolderController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/CcdUploadJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/CcdUploadJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/JobInProgressService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/JobInProgressServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueue.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestApplicationConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/CcdUploadJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/CcdUploadJobTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/JobsInProgressServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareeServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/IngestionQueueTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-375

#433 deduplicate ccd file and use versioning in file name
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/resources/application.yml
  src/functionalTest/resources/hrs_ccd_case_definition_AAT.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_PROD.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v0.3.xlsx
  src/integrationTest/resources/CCD_CVP_v.03.xlsx
Labels: ns:em, prd:em, rel:em-hrs-api-pr-433

#435 correct env vars for nightly tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:em, prd:em, rel:em-hrs-api-pr-435

#434 Resolve FT Timeouts
  charts/em-hrs-api/Chart.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/FolderRepositoryIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-434
