Repository hmcts/em-hrs-api, pull requests merged in 2021-09, with the labels that each got.

#369 EM 4016 test multiple segments can be attached to ccd initial refactor
  charts/em-hrs-api/Chart.yaml
  docker/dependencies/start-local-environment.sh
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/HearingRecordingSegmentScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/AzureStorageContainerClientBeans.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/SleepHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/TestUtil.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/IngestionQueueConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/JacksonMappingConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/NotificationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/AuthTokenValidationConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-369

#374 Em 4017 log json payload when encountering ccd validation errors
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-374

#394 EM-3982: Syncronise Demo/PerfTest/ITHC branches with master
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-hrs-api-pr-394

#401 Fix local setup
  docker-compose-dependencies.yml
  docker/dependencies/start-local-environment.sh
Labels: ns:em, prd:em, rel:em-hrs-api-pr-401
