Repository hmcts/em-hrs-api, pull requests merged in 2022-02, with the labels that each got.

#481 move osba blob details to values.preview.template.yaml
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-481

#482 account_replication_type ZRS
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-hrs-api-pr-482

#480 Improve Ingest logic to check for zero file size
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
  src/functionalTest/resources/data/empty_file.mp4
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-480

#479 Added enable_data_protection
  infrastructure/main.tf
Labels: ns:em, prd:em, rel:em-hrs-api-pr-479

#490 Set log4j version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-490

#489 EM-3834 add smtp secrets
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-489

#493 EM-3834 add email sender
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MessageSender.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SendEmailException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSenderTest.java
  src/test/resources/email/test1.zip
  src/test/resources/email/test2.zip
Labels: ns:em, prd:em, rel:em-hrs-api-pr-493

#494 EM-3834 add recipient secret
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-494

#497 EM-3834 refactor
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobstoreInspectorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/listener/CheckEndPointsApplicationReadyListener.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/StorageReport.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-497

#499 EM-3834 add cron for report
  build.gradle
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ShedLockConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportTask.java
  src/main/resources/application.yaml
  src/main/resources/db/db.changelog-master.xml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-499

#503 EM-3834 fix smtp settings
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-503

#495 Fixed vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-495

#505 EM-3834 make mail from configurable
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-505

#501 EM-4254 - Suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-501

#508 EM-3834 fix mail content
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-508

#512 add ENV var time intervals
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-512

#514 Increased DB config for Prod only
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:em, prd:em, rel:em-hrs-api-pr-514

#515 update Ccd for new files - add ENV toggle
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-515

#509 try to remove logback
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-509

#517 Fix vulnerabilities
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-517

#518 Resolve CVE's
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-518

#519 add extra logs for in progress files
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-519

#511 remove okhttp
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-511

#521 fix JobInProgress createOn
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepositoryIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/JobInProgress.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/JobInProgressServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-521

#524 stop ccd def upload and idam role creation in functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-524

#525 reduce in progress wait time
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-525

#526 fix report count
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-526

#527 Change the 500 error status for HRS API
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-527

#528 filter CVP files for report count
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-528

#507 Added in logic of 72 hrs of ttl for shared links
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/Constants.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-507

#529 remove listener
  src/main/java/uk/gov/hmcts/reform/em/hrs/listener/CheckEndPointsApplicationReadyListener.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-529

#530 Serenity arrangements
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-530

#520 Update chart-java
  charts/em-hrs-api/Chart.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-520

#539 do not delete blobs
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-539

#541 remove unnecessary serenity dependencies
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-541

#542 remove unnecessary dependencies
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-542

#549 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-549

#548 remove unnecessary plugins
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-548

#554 remove em-test config from smoke test
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/smoke/SmokeTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-554

#551 Added in logs for sharee link logic
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-551

#552 EM-4274 add delete job
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/DeleteInProgressJobsTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/DeleteInProgressJobsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImplTests.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-552

#556 Added in logs for sharee link logic
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-556

#558 stop delete blobs
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-558

#562 Added in more logs for Sharee link logic
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-562

#560 bump java-chart
  charts/em-hrs-api/Chart.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-560

#559 remove root url
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/GetRootUrlTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/RootUrlController.java
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/smoke/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/RootUrlControllerTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-559

#568 Added in more logs for Shared link
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-568

#569 Renamed repository method
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/Constants.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-569

#571 EM-4279 replace swagger
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/SwaggerConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/FolderController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-571
