Repository hmcts/em-hrs-api, pull requests merged in 2022-06, with the labels that each got.

#676 Fixed CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-676

#677 Fix CVE-2022-22978
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-677

#620 EM-4327 close ccd test case
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/AzureStorageContainerClientBeans.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/functionalTest/resources/application.yml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-620

#683 Added in changes related to using cftlib
  build.gradle
  config/owasp/suppressions.xml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/em/hrs/cftlib/CftLibConfig.java
  src/contractTest/resources/application.yml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/resources/application.yml
  src/main/resources/application.yaml
  src/main/resources/cftlib-am-role-assignments.json
  src/main/resources/liquibase.properties
  src/smokeTest/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/DeleteInProgressJobsTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-683
