Repository hmcts/em-hrs-api, pull requests merged in 2022-01, with the labels that each got.

#453 Updated Log4J version
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-453

#469 fix user creation block and change from using application system user…
  docker/dependencies/idam-client-setup-roles.sh
  docker/dependencies/idam-create-hrs-system-user.sh
  docker/dependencies/initialise-users.sh
  docker/dependencies/start-local-environment.sh
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/DownloadNonSharedScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/ExtendedCcdHelper.java
  src/functionalTest/resources/hrs_ccd_case_definition_v0.3_LOCAL.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_AAT.xlsx
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-469

#470 Em 4212 update definiton file for remaining environments
  Jenkinsfile_nightly
  src/functionalTest/resources/hrs_ccd_case_definition_v0.3_ITHC.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v0.3_PERFTEST.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v0.3_PROD.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_DEMO.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_ITHC.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_PERFTEST.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_PROD.xlsx
Labels: ns:em, prd:em, rel:em-hrs-api-pr-470

#471 expand and add try catch block to catch all blobcopy and ccdupload ex…
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-471

#474 ensure hrs container is created
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestAzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-474

#475 remove unused audit actions, comment non implemented and wire up the …
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/AuditActions.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-475
