Repository hmcts/em-hrs-api, pull requests merged in 2022-09, with the labels that each got.

#697 remove unused hearing_recording_metadata
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-697

#699 added name: 'snakeyaml', version: '1.31'
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-699

#700 Add test container version
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestAzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-700

#698 EM-4578 drop table hearing_recording_metadata
  src/main/resources/db/migration/V2__drop_hearing_recording_metadata.sql
Labels: ns:em, prd:em, rel:em-hrs-api-pr-698

#701 EM-4581 add daily count to email report
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobstoreInspectorTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/StorageReport.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-701

#703 Updated renovate config
  .github/renovate.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-703

#704 use version for test container
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestAzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-704

#707 Added in dependabot config
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/combine-prs.yml
  renovate.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-707

#719 depenabot upgrades
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-719

#731 dependabot spring bumps
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-731

#730 EM-4589 upgrade to java 17
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-730

#747 Use em-test-helper version 1.21.4
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-747

#753 add log
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-753

#755 EM-4601 some refactoring and logs
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-755

#762 add logs for FolderServiceImpl
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-762

#763 EM-4601 Log blob storage difference
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-763

#764 EM-4601 fix delete job
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/DeleteInProgressJobsTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-764

#765 EM-4601-change existence check log
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-765

#767 EM-4601 add SourceBlob exists back
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-767

#773 EM-4601 add extra log
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-773

#774 EM-4601 try catch error
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-774

#775 log properties and add timeout
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-775

#781 EM-4601 always copy from cvp to hrs
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-781

#788 EM-4601 Skip completed file
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-788

#787 EM-4601 Wait for completion
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-787

#791 EM-4601 revert 8948b61efa6303b1dfa20350da1d239f6fd7e091
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-791

#792 EM-4623 delete destination blob if it fails
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-792
