Repository hmcts/em-hrs-api, pull requests merged in 2023-06, with the labels that each got.

#1217 Updated preview blobstorage config
  Jenkinsfile_CNP
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1217

#1230 Resolved CVE
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1230

#1253 Updated CVE list
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1253

#1250 simplify security config
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/SecurityScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1250
