Repository hmcts/em-hrs-api, pull requests merged in 2023-10, with the labels that each got.

#1441 EM-4602 add api-key security
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/TestClockProvider.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ClockConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/InvalidApiKeyException.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1441

#1454 Removed v14 DB details
  infrastructure/main.tf
Labels: ns:em, prd:em, destroy, rel:em-hrs-api-pr-1454

#1455 Added v15 DB details
  infrastructure/main.tf
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1455

#1450 EM-4602 add find blob end point
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/BlobNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1450

#1458 EM-5341 assert hearing resource
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1458

#1470 EM-5600 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1470

#1471 Reduced v15 DB core for non-prod env
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1471

#1472 EM-5605 add logs for sharing
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1472

#1480 EM-5616 CVE-2023-5072 vulnerability
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1480

#1486 EM-5505 reduce app-insight logs
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/FolderController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
Labels: ns:em, prd:em, add-or-update, rel:em-hrs-api-pr-1486

#1494 EM-5401 add log for dynatrace alerting
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1494
