Repository hmcts/em-hrs-api, pull requests merged in 2024-02, with the labels that each got.

#1657 Updated dependant libraries
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1657

#1642 update deprecated config
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/AuthTokenValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/EmServiceAuthFilter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestSecurityConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1642

#1675 EM-5844 use different folder for tests
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1675
