Repository hmcts/em-hrs-api, pull requests merged in 2024-10, with the labels that each got.

#2060 Em-4232 remove blob storage check
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/FolderServiceImplTests.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2060

#2072 Em-6034 drop ttl
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/resources/db/migration/V8__drop_column_ttl_hearing_recording.sql
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2072

#2075 EM-6034 add ttl with date type
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/resources/db/migration/V9__add_column_ttl_hearing_recording.sql
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2075

#1992 create delete endpoint
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/ShareScenarios.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/config/TTLMapperConfigTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/ApplicationConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/WebConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/domain/HearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/exception/UnauthorisedServiceException.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/interceptors/DeleteRequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/BlobStorageDeleteService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/interceptors/DeleteRequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/BlobStorageDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingServiceImplTest.java
Labels: ns:em, prd:em, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-1992

#2097 add azapi to state
  infrastructure/state.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2097

#2099 enable to access swagger ui
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2099

#2102 hide endpoints to appear in swagger
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2102

#2022 EM-6018 add ccd definitions
  src/functionalTest/resources/CCD_HRS_v1.2-AAT.xlsx
  src/functionalTest/resources/CCD_HRS_v1.2-DEMO.xlsx
  src/functionalTest/resources/CCD_HRS_v1.2-ITHC.xlsx
  src/functionalTest/resources/CCD_HRS_v1.2-PERFTEST.xlsx
  src/functionalTest/resources/CCD_HRS_v1.2-PROD.xlsx
  src/functionalTest/resources/CCD_HRS_v1.3-AAT.xlsx
  src/functionalTest/resources/CCD_HRS_v1.3-DEMO.xlsx
  src/functionalTest/resources/CCD_HRS_v1.3-ITHC.xlsx
  src/functionalTest/resources/CCD_HRS_v1.3-PERFTEST.xlsx
  src/functionalTest/resources/CCD_HRS_v1.3-PROD.xlsx
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2022

#2113 EM-6291 fix failing functional test
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2113

#2031 EM-6034 add ccd ttl handling
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseHearingRecording.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/TtlCcdObject.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/TtlService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/TtlServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/TtlServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImplTest.java
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2031

#2122 EM-6034 fix staging pipeline
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/resources/application.yml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2122

#2119 EM-6291 remove sleeps and some logs
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/FolderScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/SecurityScenarios.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2119
