Repository hmcts/em-hrs-api, pull requests merged in 2024-12, with the labels that each got.

#2179 EM-6199 add audit task
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/AuditEntryRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/AuditReportCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyAuditReportTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/AuditReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyAuditReportTaskTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/AuditEntryServiceTests.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2179

#2148 add job to update existing recordings with TTL
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/cftlib/java/uk/gov/hmcts/reform/em/hrs/cftlib/CftLibConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/TtlService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V11__add_index_createOn_hearing_recording.sql
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJobTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2148

#2211 Create SECURITY.md
  SECURITY.md
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2211

#2213 Cme 123: add Db monitoring
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2213
