Repository hmcts/em-hrs-api, pull requests merged in 2024-07, with the labels that each got.

#1929 EM-6107 - fix container registry
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractDataSourceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1929

#1954 use dummy default key
  src/functionalTest/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1954

#1959 make dummy value more dummy
  charts/em-hrs-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1959

#1957 create static look-up table
  build.gradle
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/cftlib/java/uk/gov/hmcts/reform/em/hrs/cftlib/CftLibConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/config/TTLMapperConfigTest.java
  src/integrationTest/resources/ttl_jurisdiction_map.json
  src/integrationTest/resources/ttl_service_map.json
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/TTLMapperConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/TTLPropertySourceFactory.java
  src/main/resources/application.yaml
  src/main/resources/ttl_jurisdiction_map.json
  src/main/resources/ttl_service_map.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1957

#1961 EM-6127 use test notify api-key
  charts/em-hrs-api/values.aat.template.yaml
  charts/em-hrs-api/values.preview.template.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1961

#1976 EM-5884 make report date configurable
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
  src/integrationTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/DateListConverter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/DateListConverterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1976
