Repository hmcts/em-hrs-api, pull requests merged in 2024-06, with the labels that each got.

#1861 EM-6031 validate hrs-ingestor idam token
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/SecurityScenarios.java
  src/functionalTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1861

#1880 EM-6031 remove used security config
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/AuthTokenValidationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/EmServiceAuthFilter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestSecurityConfiguration.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1880

#1889 upgrading cftlib to v0.19.1262
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1889

#1891 EM-5884 add index for hearing_recording_segment create on
  src/main/resources/db/migration/V6__add_index_createOn_hearing_recording_segment.sql
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1891

#1890 Em-5884 add hearing reporting
  build.gradle
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingSegmentRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
Labels: ns:em, prd:em, Do Not Merge, aat/no-changes, prod/no-changes, rel:em-hrs-api-pr-1890

#1905 verifying in pipeline, cleaned up unused import
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1905

#1907 EM-5884 add extra fields to report
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingSegmentRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportCsvWriter.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportCsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1907

#1911 EM-6091 suppress vulnerabilities
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1911

#1910 EM-5884 fix email tittle
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1910
