Repository hmcts/em-hrs-api, pull requests merged in 2024-11, with the labels that each got.

#2083 Em 6247 create container
  infrastructure/main.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2083

#2126 append bearer to service auth token if it is missing
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SecurityServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2126

#2125 EM-6199 add index to audit table for monthly report
  src/main/resources/db/migration/V10__add_index_event_date_time_audit_entry.sql
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2125

#2132 EM-6303 refactor service package
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/BlobStorageDeleteService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/FolderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/HearingRecordingServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/IngestionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/JobInProgressServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/PermissionEvaluatorImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/SecurityServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/SegmentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/ShareeServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/BlobStorageDeleteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/FolderServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/HearingRecordingServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/JobsInProgressServiceImplTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/NotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/PermissionEvaluatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/SegmentServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/ShareAndNotifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/ShareServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/ShareeServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2132

#2136 update local setup
  src/cftlib/java/uk/gov/hmcts/reform/em/hrs/cftlib/CftLibConfig.java
  src/functionalTest/resources/application.yml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2136

#2141 EM-6199 refactor report
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2141

#2082 add batch job
  build.gradle
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestAzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2082

#2174 close resource
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2174

#2181 update serenity to 4.2.9
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/BaseTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/em/hrs/smoke/SmokeTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2181

#2182 update pact to 4.6.15
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/em/hrs/consumer/IdamApiPactConsumerTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2182

#2186 Spring boot 3.4.0
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BaseWebTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/controller/FolderControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/service/email/MonthlyHearingReportTaskTest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestSecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/FolderControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/PermissionEvaluatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/SecurityServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2186
