Repository hmcts/em-hrs-api, pull requests merged in 2024-04, with the labels that each got.

#1750 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/BlobStoreInspectorController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/Constants.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooper.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/Snooper.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestApplicationConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/IngestionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/DefaultSnooperTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1750

#1754 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/JobInProgressServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdUploadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSender.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/EmailValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/HttpHeaderProcessorTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1754

#1696 EM-5865 add file end point
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingSegmentRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/Constants.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/FileNameCoder.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/FileNameCoderTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1696

#1768 EM-5865 get count of VH records
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1768

#1769 EM-5865 delete one record
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1769

#1774 EM-5865 delete one record
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1774

#1778 EM-5865 delete all 42 VH records
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1778

#1779 EM-5865 delete VH sharee
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1779

#1781 fix code smells
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ShareAndNotifyServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/util/FileNameCoder.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/auditlog/AuditLogFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/PermissionEvaluatorImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/EmailSenderTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/util/CvpConnectionResolverTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1781

#1784 EM-5865 delete audit data
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesAuditEntryRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1784

#1786 EM-5865 remove delete VH code
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesAuditEntryRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/ShareesRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhBlobsTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhBlobsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/DeleteVhRecordingTaskTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1786

#1772 bumping depricated java chart
  charts/em-hrs-api/Chart.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1772

#1785 fix code smells
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/AzureStorageContainerClientBeans.java
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/testutil/BlobUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/helper/AzureIntegrationTestOperations.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/controller/HearingRecordingController.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/JobInProgressRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobIndexMarker.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/BlobstoreClientImpl.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/config/TestAzureStorageConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1785

#1800 EM-5964 refactor report
  src/integrationTest/java/uk/gov/hmcts/reform/em/hrs/storage/DefaultHearingRecordingStorageIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorage.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1800

#1803 EM-5964 refactor report
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, aat/no-changes, rel:em-hrs-api-pr-1803

#1795 update ccd definition files
  src/functionalTest/resources/CCD_HRS_v1.1-AAT.xlsx
  src/functionalTest/resources/CCD_HRS_v1.1-DEMO.xlsx
  src/functionalTest/resources/CCD_HRS_v1.1-ITHC.xlsx
  src/functionalTest/resources/CCD_HRS_v1.1-PERFTEST.xlsx
  src/functionalTest/resources/CCD_HRS_v1.1-PROD.xlsx
  src/functionalTest/resources/application.yml
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_AAT.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_DEMO.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_ITHC.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_PERFTEST.xlsx
  src/functionalTest/resources/hrs_ccd_case_definition_v1.0_PROD.xlsx
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1795
