Repository hmcts/em-hrs-api, pull requests merged in 2024-05, with the labels that each got.

#1812 EM-5985 remove pr db auth
  charts/em-hrs-api/values.preview.template.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1812

#1813 EM-5985 remove user/password for db
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1813

#1820 Disabled Spot instances
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1820

#1826 Extended the suppression date
  config/owasp/suppressions.xml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1826

#1827 log vh-hrs file difference
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1827

#1835 EM-5908 fix code smells
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/AuditEntryServiceTests.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/SummaryReportServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1835

#1836 EM-5908 fix code smells-2
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/SegmentDownloadServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1836

#1852 EM-6040 VH report refactor
  src/main/java/uk/gov/hmcts/reform/em/hrs/storage/HearingRecordingStorageImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1852

#1868 bump 'em-test-helper', version: '2.0.8'
  build.gradle
Labels: ns:em, prd:em, rel:em-hrs-api-pr-1868
