Repository hmcts/em-hrs-api, pull requests merged in 2025-02, with the labels that each got.

#2301 EM-6277 enable TTL
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.preview.template.yaml
  charts/em-hrs-api/values.yaml
  src/functionalTest/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2301

#2306 EM-6416 add log for missing TTL config for service and jurisdiction
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImpl.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2306

#2314 Fix ttl service lookup
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/impl/TtlServiceImplTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2314

#2315 add log for time taken
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2315

#2309 move report location
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2309

#2316 fix variable name
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2316

#2319 EM-6443 fix LU ttl time
  src/main/resources/ttl_jurisdiction_map.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2319

#2328 add missing service id
  src/main/resources/ttl_service_map.json
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2328

#2341 update case data
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/HearingRecordingService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/impl/HearingRecordingServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2341

#2350 fix - local run, add role
  src/cftlib/java/uk/gov/hmcts/reform/em/hrs/cftlib/CftLibConfig.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2350
