Repository hmcts/em-hrs-api, pull requests merged in 2025-03, with the labels that each got.

#2361 EM-6547 Upgrading oci charts
  charts/em-hrs-api/Chart.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2361

#2348 use virtual threads
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2348

#2362 EM-6540 remove unused config
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AsyncConfiguration.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2362

#2372 Updated JURISDICTION_CODES_BATCH_SIZE
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2372

#2370 Em 6527 remove logs
  build.gradle
  src/contractTest/resources/application.yml
  src/functionalTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/AuthTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/security/MethodSecurityConfig.java
  src/main/resources/application.yaml
  src/smokeTest/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/AbstractBaseTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2370

#2383 Added in the performance improvements
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CcdDataStoreApiClientTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2383

#2384 EM-6445 change weekly attachment name
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2384

#2375 EM-6574 fileSize change
  src/main/java/uk/gov/hmcts/reform/em/hrs/model/CaseRecordingFile.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/componenttests/TestUtil.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2375

#2390 Disabled the jobs in API to be run a task as a job.
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/config/AzureStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/CcdUploadJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/IngestionJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateJurisdictionCodesTask.java
  src/main/resources/application.yaml
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2390

#2382 use threads for ttl job
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJob.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJobTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2382

#2399 Em 6549 create private endpoint demo branch
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, demo/add-or-update, rel:em-hrs-api-pr-2399
