Repository hmcts/em-hrs-api, pull requests merged in 2025-04, with the labels that each got.

#2405 Updated OverrideTTL to set as null
  src/functionalTest/java/uk/gov/hmcts/reform/em/hrs/IngestScenarios.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreator.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/ccd/CaseDataContentCreatorTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2405

#2408 Added in more logs and updated db query
  charts/em-hrs-api/Chart.yaml
  charts/em-hrs-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/em/hrs/dto/HearingRecordingTtlMigrationDTO.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJob.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/repository/HearingRecordingRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/em/hrs/job/UpdateTtlJobTest.java
Labels: ns:em, prd:em, Do Not Merge, rel:em-hrs-api-pr-2408

#2412 EM-6601 avoid multiple runs
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/WeeklyHearingReportTask.java
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2412

#2373 EM-6549 create private end point
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2373

#2420 VIH-11296 add storage private endpoints
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, demo/add-or-update, rel:em-hrs-api-pr-2420

#2422 Added in DeleteOrphanHearingRecordingAatTask
  build.gradle
  src/main/java/uk/gov/hmcts/reform/em/hrs/job/DeleteOrphanHearingRecordingAatTask.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2422

#2421 EM-6601 change weekly report email body
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailService.java
  src/main/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceConfig.java
  src/test/java/uk/gov/hmcts/reform/em/hrs/service/email/HearingReportEmailServiceConfigTest.java
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2421

#2438 VIH-11296 remove private dns groups from cvp and vh private endpoints
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, demo/destroy, rel:em-hrs-api-pr-2438

#2451 EM-6614-remove-extension
  infrastructure/main.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2451

#2453 for private endpoint tests disable demo syncronization
  Jenkinsfile_CNP
Labels: ns:em, prd:em, rel:em-hrs-api-pr-2453

#2428 EM-6549 & VIH-11296 add storage private endpoints #2426
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:em, prd:em, aat/add-or-update, prod/add-or-update, rel:em-hrs-api-pr-2428
